<h2>Comentários</h2>
<% @post.comments.each do |comment| %>
  <p><strong><%= comment.user.email %>:</strong> <%= comment.content %></p>
  <% if comment.user == current_user %>
    <%= link_to 'Excluir', [comment.post, comment], method: :delete, data: { confirm: 'Tem certeza?' } %>
  <% end %>
<% end %>

<% if current_user %>
  <%= form_with(model: [@post, Comment.new]) do |form| %>
    <div>
      <%= form.label :content, "Novo Comentário" %><br>
      <%= form.text_area :content %>
    </div>
    <div>
      <%= form.submit "Comentar" %>
    </div>
  <% end %>
<% else %>
  <p><%= link_to "Faça login", login_path %> para comentar.</p>
<% end %>